<html>
    <head>
        <title>BinderFilter, a kernel firewall for Android IPC</title>

    </head>

    <body>
        <h1>BinderFilter, a kernel firewall for Android IPC</h1>

        <p/>
        <a href="https://github.com/dxwu/AndroidBinder">Kernel code on GitHub</a>
        <p/>
        <a href="https://github.com/dxwu/Picky">Picky, the userland policy configuration app</a>
        <p/>
        <a href="binderfilter_tr.pdf">Technical Report on BinderFilter</a>
        <p/>
        <a href="Shmoocon2017-slides.pdf">Sildes from Shmoocon 2017 talk</a> presenting further BinderFilter
        work and an IPTables-like command line interface.
        <p/>
        <a href="Summercon2016-slides.pdf">Sildes from SummerCon 2016 talk</a> presenting BinderFilter, Picky,
        and analysis of how Binder messages travel through the Android stack.
        <p/>
        <hr/>
        We thank Ionic Security for their support of our reserch on this project.
    </body>
</html>

