<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
    <head>
        <meta charset='utf-8'>
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
        <title>BinderFilter, a kernel firewall for Android IPC</title>
    </head>
    <body>

        <header>
            <div class="container">
                <h1>BinderFilter</h1>
                <h2>A kernell firewall for Android IPC</h2>

                <section id="downloads">
                    <a href="#" class="btn">Kirti V.R</a>
                    <a href="#" class="btn">David Wu</a>
                    <a href="#" class="btn">Sergey Bratus</a>
                    <a href="https://github.com/BinderFilter/BinderFilter" class="btn btn-github" target="_blank"><span class="icon"></span>View BinderFilter on GitHub</a>
                </section>
            </div>
        </header>
        <div class="container">
            <section id="main_content">

                <p/>
                <!--<a href="https://github.com/dxwu/AndroidBinder">Kernel code on GitHub</a>-->
                <p/>
                <a href="https://github.com/dxwu/Picky">Picky, the userland policy configuration app</a>
                <p/>
                <a href="binderfilter_tr.pdf">Technical Report on BinderFilter</a>
                <p/>
                <a href="Shmoocon2017-slides.pdf">Sildes from Shmoocon 2017 talk</a> presenting further BinderFilter
                work and an IPTables-like command line interface.
                <p/>
                <a href="Summercon2016-slides.pdf">Sildes from SummerCon 2016 talk</a> presenting BinderFilter, Picky,
                and analysis of how Binder messages travel through the Android stack.
                <p/>
                <hr/>
                We thank Ionic Security for their support of our reserch on this project.
            </section>
        </div>
    </body>
</html>

